.sections {
  margin: 0 auto;
  max-width: var(--width-container);
}

.app {
  position: relative;
  z-index: 999;
  padding: 0 50px;
  animation: on 300ms ease-in forwards;
}

@keyframes on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .app {
    padding: 0 20px;
  }
}
