@import '../styles/mixins/opacity';

.stack {
  background-color: var(--clr-primary);
  min-height: 500px;
  max-width: var(--width-container);
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  padding-top: var(--pdg-top);
  @include opc;

  &__info {
    display: flex;
    flex-direction: column;
    max-width: var(--width-container);
    width: 100%;
    height: 100%;
    h2 {
      text-align: center;
      margin-top: -5px;
      font-size: 48px;
    }
  }
}
